<app-toast [message]="toast.message"></app-toast>
<div class="card">
  <h4 class="card-header">SignUp</h4>
  <div class="card-body">
    <form class="form" [formGroup]="signUpForm" (ngSubmit)="submit()" novalidate>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email" autofocus>
          <!-- <div [hidden]="!email.pristine && !email.valid" class="alert alert-danger">Email is required</div> -->
        </div>
      </div>
      <div class="form-group" [formGroup]="passwordGroup">
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputRePassword" class="col-sm-3 col-form-label">RePassword</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputRePassword" placeholder="RePassword" formControlName="repassword">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputNickname" class="col-sm-3 col-form-label">Nickname</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" formControlName="nickname">
        </div>
        <label for="inputUsergroup" class="col-sm-2 col-form-label">Group</label>
        <div class="col-sm-3">
            <select class="form-control" id="usergroup" name="usergroup" formControlName="usergroup">
              <option *ngFor="let group of groups" value="{{group.id}}">{{group.name}}</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-3">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        <div class="offset-sm-2 col-sm-3">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>
